.accordion {
  width: 100%;
  padding: 1rem;
  //border-top: 1px solid $yellow;

  &:last-child {
    //border-bottom: 1px solid $yellow;
  }

  &__title {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    min-height: 60px;
    color: $brand-tertiary;
    padding-right: 2.5rem;
  }
  &__title-icon {
    fill: $brand-tertiary;
    position: absolute;
    right: 0;
    transition: all 0.3s ease-out;
    transform: rotate(-180deg);
  }

  .open &__title-icon {
    transform: rotate(-90deg);
  }

  &__content {
    height: auto;
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s ease-out;
    &.open {
      opacity: 1;
    }
    & a {
      color: $yellow;
    }
  }
}
