.button--primary {
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  max-width: 370px;
  width: 100%;
  position: relative;
  background-color: $yellow;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  &:hover {
    text-decoration: underline;
    .teaser__icon {
      fill: $brand-primary;
    }
  }
}
.button--secondary, .btn {
  cursor: pointer;
  flex: 1 1 auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: $yellow;
  text-decoration: none;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid $yellow;
  border-radius: 0.25rem;
  background-color: $white;
}
.btn {
  max-width: 350px;
  width: 100%;
  display: block
}

@media (min-width: 576px) and (max-width: 767px) {
  .button--primary {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .button--primary {
    max-width: 100%;
    margin: 0 10px;
  }
}
