.cities {
  .frame-container {
    width: 100%;
    max-width: 100%;
  }
  &__wrapper {
    padding: 1rem;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    flex-grow: 1;
    width: 33%;
    color: $brand-secondary;
    &:hover {
      text-decoration: underline;
    }
  }
}
@media (max-width: 767px) {
  .cities {
    &__list {
      font-size: 0.9rem;
    }
  }
}
@media (max-width: 479px) {
  .cities {
    &__list {
      font-size: 0.7rem;
    }
  }
}
