.flat {
  padding: 2rem 1rem;
  color: $gray-900;
  font-size: 0.9rem;
  &__images {
    margin-bottom: 2rem;
  }

  &__breadscrumbs {
    font-size: 0.8rem;
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 1rem 0;
  }
  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $brand-primary;
    min-height: 500px;
  }
  &__breadscrumb {
    & a {
      text-decoration: none;
      color: $yellow;
    }
    &:not(:last-child)::after {
      content: ">";
      padding: 0 10px;
      color: $yellow;
    }
  }
  
  &__container {
    display: flex;
    gap: 2rem;
  }

  &__title {
    color: $gray-900 !important;
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  &__subtitle {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  &__map-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1 0 calc(60% - 2rem);
  }

  &__map {
    height: 400px;
    width: 100%;
  }
  &__garanties {
    & h4 {
      margin-bottom: 0.5rem;
    }
  }
  &__garanties-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    & a {
      color: $yellow;
    }
    & h3 {
      color: $yellow;
      font-size: 1.2rem;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__info-highlight {
    font-size: 1.3rem;
    font-weight: 700;
  }
  & hr {
    margin: 0;
  }
  &__info-additional {
    color: $gray-900;
  }
  &__detail {
    & ul {
      list-style: none;
      padding: 0;
    }
    & li {
      color: $brand-primary;
    }
  }
  &__info-conditions {
    & strong {
      display: block;
      margin-bottom: 0.3rem;
    }
    & ul {
      list-style: none;
      padding: 0;
    }
    & li {
      padding-left: 0.7rem;
      position: relative;
    }
    & li::before {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      left: 0;
      top: 8px;
      background-color: $brand-primary;
      border-radius: 50%;
    }
  }
}

@media (max-width: 767px) {
  .flat {
    &__container {
      flex-direction: column;
    }
    &__info-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__garanties-wrapper {
      justify-content: flex-start;
    }
  }
}

@media (max-width: 575px) {
  .flat {
    &__garanties-wrapper {
      flex-wrap: wrap;
    }
  }
}
