.flat-list {
  font-size: 0.9rem;
  & a {
    color: $gray-900;
    &:visited {
      color: $gray-900;
    }
  }
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.flat-item {
  display: flex;
  border: 1px solid $yellow;
  min-height: 120px;
  min-width: 160px;
  width: calc(100% - 10px);
  align-self: flex-end;
  justify-content: space-between;
  box-shadow: -10px 0px 0px 0px $yellow;
  &__image {
    height: auto;
    background-position: center;
    width: 100%;
    height: 130px;
    flex: 0 0 16.6666666667%;
    & img {
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    flex: 0 0 calc(45% - 1rem);
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
  }
  &__price {
    flex: 0 0 calc(21.6666666667% - 1rem);
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    & span {
      font-size: 1.2rem;
      font-weight: 700;
      color: $yellow;
    }
  }
  &__persons {
    display: flex;
    align-items: center;
    & i {
      padding-left: 5px;
    }
  }
}
.flat-list--empty {
  margin-bottom: 2rem;
}

.services {
  flex: 0 0 calc(16.6666666667% - 1rem);
  padding: 0.5rem 1rem;
  &__title {
  }
  &__list {
    list-style: none;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    padding: 0;
  }
  &__icon {
    color: $gray-900;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .flat-item {
    &__image {
      height: auto;
      background-position: center;
      width: 100%;
      flex: 0 0 25.6666666667%;
    }
    &__info {
      flex: 0 0 calc(41% - 1rem);
    }
    &__price {
      & span {
        font-size: 1rem;
      }
    }
  }
}
@media (max-width: 767px) {
  .flat-item {
    flex-direction: column;
    &__image {
      height: 100%;
      flex: 1 1 auto;
    }
  }
}
