.intouch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  color: $white;
  position: relative;
  top: 0;
  padding: 1rem;
  flex-direction: column;

  &__title {
    text-align: center;
  }
  &__buttons {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
  }
  &__button {
    flex: 0 0 50%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button--icon {
    margin-right: 10px;
    fill: $yellow;
  }
}

.found {
  padding: 2rem 0 1rem 0;
  text-align: center;
  font-size: 1.3rem;
}

.lastupdate {
  text-align: center;
  padding: 0 0 2rem 0;
  color: $brand-tertiary;
  font-weight: 400;
}
  
@media (max-width: 767px) {
  .intouch {
    width: 100%;
  }
  .found{
    padding: 0 0 .7rem 0;
  }

}
@media (max-width: 575px) {
  .intouch {
    &__buttons {
      flex-direction: column;
    }
  }
  .found{
    padding: 0 0 .7rem 0;
  }
    
}
