.no-search {
  display: flex;
  width: 100%;
  background-color: $brand-primary;
  color: $white;
  flex-direction: column;
  text-align: center;
  margin: 2rem 0;
  &__wrapper {
    padding: 1rem;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
  }
  & h5 {
    font-weight: 400;
  }
}
