.posts {
  padding: 1rem;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &__card {
    flex: 0 0 calc(50% - 1.5rem);
    max-width: 50%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  }
  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 2/1;
    width: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem 2rem 1rem;
  }
  &__metagroup {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    & a {
      color: $brand-tertiary;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  &__icon {
    fill: $brand-tertiary;
  }
}



@media (max-width: 768px) {
  .posts {
    padding: 0 1rem;
    &__list {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    &__card {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
