.structed-content {
  padding: 1rem;
  & div {
    padding: 0;
  }
  & h1 {
    font-size: 1.5rem;
    font-weight: 800;
    color: $brand-primary;
    text-align: left;
    margin: 0 0 0.5rem 0;
  }
  & h3 {
    text-align: left;
    font-weight: 400;
    font-size: 1.2rem;
  }
  & h4 {
    text-align: left;
    font-weight: 400;
    font-size: 1.2rem;
  }

  & p {
    color: $gray-900;
    text-align: left;
  }
  & a {
    text-decoration: none;
    color: $brand-secondary;
  }
  &__wrapper {
    display: flex;
    gap: 1.5rem;
  }
  &__item {
    flex: 1 1 calc(50% - 1.5rem);
  }
  .text{
    padding: 0;
  }
  & .t3-ce-header{
    padding: 0;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .structed-content {
    &__wrapper {
      flex-direction: column;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .structed-content {
    &__wrapper {
      flex-direction: column;
    }
  }
}

@media (max-width: 575px) {
  .structed-content {
    &__wrapper {
      flex-direction: column;
    }
  }
}
