.t3-ce-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  & a {
    color: $white;
  }
  padding: 2rem 1rem;
}

.btn-cta {
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  max-width: 370px;
  width: 100%;
  position: relative;
  background-color: $yellow;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  &:hover {
    .teaser__icon {
      fill: $brand-primary;
    }
  }
  &:visited,
  &:active {
    color: $white;
  }
}
