.teaser {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 408px;
  color: $white;
  position: relative;
  top: 0;
  padding: 0 10px;
  &::after {
    content: url("@/assets/images/seit-logo.svg");
    position: absolute;
    width: 110px;
    bottom: -50px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 1rem;
    height: 100%;
  }
  &__title {
    font-size: 44px;
    margin: 0;
    font-weight: 800;
    color: $white !important;
  }

  &__icon {
    transition: all 0.2s ease-out;
    position: relative;
    top: 3px;
    fill: $white;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .teaser {
    &__content {
      gap: 0.5rem;
    }
    &__utton {
      max-width: 100%;
    }
    &__title {
      font-size: 2.1rem;
    }
    &__info {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
@media (max-width: 576px) {
  .teaser {
    &__content {
      gap: 0.5rem;
    }
    &__button {
      max-width: 100%;
      margin: 0 10px;
    }
    &__title {
      font-size: 1.5rem;
    }
    &__info {
      font-size: 0.8rem;
      line-height: 1.5rem;
    }
  }
}
