.team-container {
  padding: 1rem;
}
.team__row {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 20px));
  row-gap: 20px;
  column-gap: 20px;
}

.team__col {
  flex: 1 1 calc(33% - 20px);
}

@media (max-width: 575px) {
  .team__row {
    display: flex;
    flex-direction: column;
  }
  .team__col {
    flex: 1 1 100%;
  }
}
