.footer {
  ul,
  li,
  p,
  ul > li > p {
    color: $white;
  }

  flex: 0 0 auto;
  color: $white;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: relative;
  background-color: $brand-primary;
  background-position: center bottom;
  background-size: cover;
  padding: 1rem;
  overflow: hidden;

  &__logo {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__background {
    position: absolute;
    bottom: 25%;
    transform: scale(2.5);
    z-index: -1;
  }
  .social-media,
  .rating {
    padding-bottom: 2rem;
    i {
      font-size: 2rem;
      color: $white;
      margin-right: space(3);
      &:hover {
        color: theme-color("secondary");
      }
    }
    a:hover {
      text-decoration: none;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__link {
    text-decoration: none;
    color: $white;
    font-size: 0.9rem;
    min-height: 38px;
  }
  &__navigation--row {
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  &__util-link {
    text-transform: uppercase;
    display: flex;
    color: $yellow;
    &:not(:last-child)::after {
      content: "|";
      padding-left: 5px;
      color: $white;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & a {
      min-height: 38px;
      color: $yellow;
      &:hover {
        text-decoration: underline;
      }
    }
    & a:last-child {
      color: $white;
    }
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 1rem;
    &__item {
      flex: 0 0 33.33%;
      color: $white;
      min-height: 48px;
      font-size: 0.9rem;
    }
    &__title {
      color: $gray-900;
      font-size: 1.2rem;
      font-weight: 400;
    }
    & a, span {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__divider {
    width: 100%;
    margin: 2rem 0;
    border-top: 1px solid $white;
  }

  & svg {
    fill: $white;
    margin-right: 10px;
    &:hover {
      fill: $yellow;
    }
  }

  &__accordion {
    cursor: pointer;
    display: inline-block;
    color: $yellow !important;
  }
}

.footer-image {
  width: 100%;
  display: flex;
  position: relative;
  bottom: -18px;
  & img {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    z-index: 11;
  }
}
@media (min-width: 1200px) {
  .footer-container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer-container {
    max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-container {
    max-width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .footer-container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .footer-image {
    bottom: -13px;
  }
  .footer-container {
    &__item {
      min-height: 38px !important;
    }
  }
}
@media (max-width: 453px) {
  .footer-image {
    bottom: -10px;
  }
}

@media (max-width: 767px) {
  .footer {
    &__background {
      transform: scale(5.5);
    }
  }
  .footer-container {
    gap: 1rem;

    &__item {
      flex: 0 0 calc(50% - 1rem) !important;
    }
  }
}
