// header main
.header {
  width: 100%;
  height: 180px;

  &__logo {
    display: flex;
    position: absolute;
    width: 120px;
    height: 130px;
    margin: 0 auto;
    top: 40px;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__menu {
    cursor: pointer;
    position: relative;
    right: 0;
    width: 36px;
    height: 30px;
    z-index: 20;
    &:hover {
      .header__button {
        background: $yellow;
        &::after,
        &::before {
          background: $yellow;
        }
      }
    }
  }

  &__icons {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  &__button {
    margin-top: 13px;
    width: 2rem;
    height: 5px;
    display: block;
    background: $brand-tertiary;
    border-radius: 3px;
    z-index: 20;
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 2rem;
      height: 5px;
      display: block;
      background: $brand-tertiary;
      border-radius: 3px;
      z-index: 20;
      transition: all 0.2s ease-out;
    }
    &::before {
      top: 3px;
    }
    &::after {
      top: 23px;
    }
  }

  &__phone,
  &__globe {
    transition: all 0.2s ease-out;
    cursor: pointer;
    z-index: 20;
    fill: $brand-tertiary;
    &:hover {
      fill: $yellow;
    }
  }
  &__underline {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    bottom: 0;
    &::after {
      content: url("@/assets/images/seit-logo.svg");
      position: absolute;
      left: 0;
      width: 110px;
      height: 110px;
      bottom: -30px;
    }
  }
  &__localization {
    position: relative;
    z-index: 21;
  }
  &__flags {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 42px;
    position: absolute;
    padding: 7px 5px 0 5px;
    left: -3px;
    z-index: 21;

    & img {
      border: 1px solid #617c8c41;
      cursor: pointer;
    }
  }
}

.header__icons.root {
  .header__globe,
  .header__phone {
    fill: $white;
    &:hover {
      fill: $yellow;
    }
  }
  .header__button {
    background-color: $white;
    &::after,
    &::before {
      background-color: $white;
    }
    &:hover {
      background: $yellow;
      &::after,
      &::before {
        background: $yellow;
      }
    }
  }
}
.navbar {
  position: fixed;
  background-color: $white;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;

  font-size: 1.5rem;
  &__logo {
    width: 120px;
    height: 120px;
    position: relative;
    margin: 0 auto;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: url("@/assets/images/zir-logo--red.webp") no-repeat;
      background-size: contain;
    }
  }
  &__list {
    height: 100%;
    padding: 40px;
    list-style: none;
  }
  &__item {
    padding: 2rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $brand-tertiary-light;
    }
  }
  &__link {
    color: $brand-tertiary;
  }
}
.header.open {
  .header__button {
    height: 0;
    &::after {
      opacity: 1;
      background-color: $brand-tertiary;
      transform: rotate(45deg);
      top: 13px;
      visibility: visible;
    }
    &::before {
      background-color: $brand-tertiary;
      visibility: visible;
      transform: rotate(-45deg);
      top: 13px;
    }
  }
  .header__menu {
    &:hover {
      .header__button {
        &::after,
        &::before {
          background: $brand-primary;
        }
      }
    }
  }
  .header__phone,
  .header__globe {
    fill: $brand-tertiary;
    &:hover {
      fill: $brand-primary;
    }
  }

  .navbar {
    opacity: 1;
    z-index: 1;
    z-index: 15;
  }
}

.logo--white {
  &::after {
    content: "";
    width: inherit;
    background: url("@/assets/images/logo-white.svg") no-repeat;
    background-size: contain;
  }
}

.logo--red {
  &::after {
    content: "";
    width: inherit;
    background: url("@/assets/images/zir-logo--red.webp") no-repeat;
    background-size: contain;
  }
}

// header additional

@media (max-width: 767px) {
  .header {
    &__underline {
      display: none;
    }
  }
}
@media (max-width: 576px) {
  .header {
    height: 180px;
    &__wrapper {
      padding: 1rem;
    }
    &__icons {
      flex-direction: column;
      top: 1rem;
      right: 1rem;
    }
    &__logo {
      width: 120px;
    }
  }
  .navbar {
    &__list {
      font-size: 1.2rem;
      padding: 20px 10px 10px 10px;
    }
    &__item {
      text-align: center;
      padding: 1rem 0;
    }
    &__logo {
      margin-bottom: 50px;
    }
  }
}
