// used
$white: #fff;
$brand-tertiary: #617c8c;
$brand-tertiary-light: #c1d4d9;
$brand-primary: #c5003e;
$brand-secondary: #ffb536;
$yellow: #ffc107;
$blackWithOpacity: rgba(0, 0, 0, 0.1);
$brand-secondary-alpha: rgba(255, 181, 54, 0.85);
$input-border: #094ac4;

$gray-200: #e9ecef;
$gray-400: #ced4da;
$gray-700: #495057;
$gray-900: #212529;
// used ends

